<% if logged_in? %>
  Welcome <%= current_authuser.login %>!<br>
  <%= link_to "Log Out", :logout %>
<% else %>
    <div id="account_form">
        <button id="login_new_account" class="button create_account" onmouseup="window.location='<%= signup_path %>';">Create An Account</button>
        <div class="create_or">OR</div>
        <%= form_tag(:login) do %>
        <label for="login_name">Login<input id="login_name" name="login" type="text" /></label>
        <label for="login_password">Password:
            <input id="login_password" name="password" type="password" />
			<a id="login_forgot" href="<%= forgot_password_path %>">Forgot?</a>
         </label>
        Remember me, this doesn't work yet: <%= check_box_tag 'remember_me',1,true %>
        <br />
        <button type="submit" class="button login_now">Login Now!</button>
        <% end %>
    </div>
<% end %>
