<ul id="navUL">
	<% if logged_in? %>
	<li id="pubWidget"><%= link_to "Publish", publish_path %></li>
	
	<li id="mySequence"><%= link_to "My Mugshow", my_mugshow_path %></li>
	<li id="myAcounnt"><%= link_to "My Account", my_account_path %></li>
	<% if current_authuser.has_mugshot? %>
		<li id="takePic"><%= link_to "Take a Pic", new_pic_path %></li>
	<% else%>
		<li id="takePic"><%= link_to "Take a Pic", controller: "mugshots", action: "first_pic" %></li>
	<% end %>
	</br>
	<li id="invites"><%#= link_to "Find Your Friends", {:controller => "authuser", :action => "find_friends" } %></li>
	<li id="invites" class = "new"><%#= link_to "Youtube It -- NEW!", {:controller => "video", :action => "new" } %></li>
	<li id="flipbook"><%#= link_to "Make A Flipbook", :flipbook_intro %></li>
	<li id="getReminders"><%= link_to "Get Reminders", :get_reminder %></li>
	<% end %>
	<li id="browseGal" class="current"><%= link_to "Browse Gallery", :browse %></li>
	<li id="feedback"><%= link_to "Feedback", :new_feedback %></li>
	<li id="upmBlog"><%= link_to "DMS Blog","http://blog.dailymugshot.com", :popup => true %></li>          
	<li id="about"><%= link_to "About", :about %></li>
	<li id="faq"><%= link_to "FAQ", :faq %></li>
</ul> 
