<ul id="navUL">
	<% if logged_in? %>
	<li id="pubWidget"><%#= link_to "Publish", publish_path %></li>
	
	<li id="mySequence"><%= link_to "My Mugshow", my_mugshow_path %></li>
	<li id="myAcounnt"><%= link_to "My Account", my_account_path %></li>
	<% if current_authuser.has_mugshot? %>
		<li id="takePic"><%= link_to "Take a Pic", new_pic_path %></li>
	<% else %>
		<li id="takePic"><%= link_to "Take a Pic", controller: "mugshots", action: "first_pic" %></li>
	<% end %>
	<% if current_authuser.id == 60581 %>
	<li id="invites" class = "new"><%= link_to "Youtube It", :new_video %></li>
	<% else %>
	<% end %>
	<li id="getReminders"><%= link_to "Get Reminders", :get_reminder %></li>
	<% end %>
	<li id="browseGal"><%= link_to "Browse Gallery", :browse %></li>
	<li id="feedback"><%= link_to "Feedback", :new_feedback %></li>
	<li id="upmBlog"><%= link_to "DMS Blog","http://blog.dailymugshot.com", :popup => true %></li>          
	<li id="about"><%= link_to "About", :about %></li>
	<li id="faq"><%= link_to "FAQ", :faq %></li>
</ul> 
