<%= javascript_tag "$('about').addClassName('current');" %>
<%= stylesheet_link_tag 'about' %>
<h1>About</h1>

<p>
The Daily Mug shot began when I came across a dude who took a picture of himself every day and turned it into a video.  He had taken pictures of himself every day for years, and the video was amazing.  I thought: I want to do that too!  Then I began thinking about what sort of system would make the entire process as easy as possible, and furthermore, what would be the most fun and easy way to show these videos to friends on the net.  
<br><br>
<cite>-Keith (keith <span id="at">at</span> dailymugshot<span id="dot"> d<b></b>ot </span> com, A<b></b>I<span id="gr">M</span>:dailymugshot)</cite>
</p>
<h3>Check out some videos that inspired this website!</h3>

<ul id="inspirational_videos">
	<li>
<object width="250" height="208"><param name="movie" value="http://www.youtube.com/v/02e5EWUP5TE&rel=1"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/02e5EWUP5TE&rel=1" type="application/x-shockwave-flash" wmode="transparent" width="250" height="208"></embed></object>
	</li>
	<li>
<object width="250" height="208"><param name="movie" value="http://www.youtube.com/v/Vc_PU3D3QNE&rel=1"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/Vc_PU3D3QNE&rel=1" type="application/x-shockwave-flash" wmode="transparent" width="250" height="208"></embed></object>
	</li>
</ul>

<h3>Mad props</h3>
<p>

<%= image_tag "site_design.jpg", class: "site_design", alt: "" %>I'd like to give some serious street cred to the site's graphic designer and CSS ninja, Rogie King.  Find him at <a id="komodo_button" href="http://www.komodomedia.com" class="button"><span>Komodo Media</span></a> 
</p>
<p>
<%= image_tag "mac_reminder.jpg", class: "reminder_mac", alt: "" %>The Wizard behind the Mac Reminder application is Ryan Leigland.  You can find more of his awesomeness at <a href="http://www.pixelatedsoftware.com">Pixelated Software</a>
<p>
<%= image_tag "win_reminder.jpg", class: "reminder_win", alt: "" %>The Ninja behind the Windows Reminder application is Ed Zaleski.  Hit him up at <a href="mailto:edzaleski@gmail.com">edzaleski@gmail.com</a>
</p>


<div class="clearboth"><!--EMPTY--></div>
