<iframe width="480" height="520" src="http://www.youtube.com/embed/h-9hWRBnrw0" frameborder="0" allowfullscreen></iframe>
"adjust" class="flash_container" align = "center">
	<script type="text/javascript">
	var flashvars = {};
	var params = {userid:<%= @current_authuser.id.to_s %>, 
		pathurl: "http://dailymugshot.com/swf/paths.xml",
		filename: <%= @current_authuser.mugshots.last.id.to_s %>,
		firstfile: <%= @current_authuser.mugshots.first.id.to_s %>,
		xcoord: <%= @current_authuser.mugshots.last.xoffset.to_s %>,
		ycoord: <%= @current_authuser.mugshots.last.yoffset.to_s %>
		};
	var attributes = {};
	swfobject.embedSWF("swf/adjust.swf", "adjust", "480", "540", "9.0.115", flashvars, params, attributes);
	</script>
</div>

http://dailymugshot.com/swf/adjust.swf?

http://dailymugshot.com/swf/adjust.swf?userid=60581&pathurl=swf/paths.xml&filename=http://d3i7412iuyx9g1.cloudfront.net/mugshots/images/1554479/full_snapshot73691.jpg?1334244289&firstfile=http://d3i7412iuyx9g1.cloudfront.net/mugshots/images/1368905/full_open-uri20120213-10456-1fwm2c5.?1329162567&xcoord=0&yoffset=0

http://dailymugshot.com/swf/adjust.swf?userid=60581&pathurl=spaths.xml&filename=1554479&firstfile=1368905&xcoord=0&yoffset=0