<%= request.remote_ip %>
<%= Mugshot.where(image_file_name: nil).count %>
<%= @mugshots.count %>
<% if false %>
	<% @mugshots.each do |m| %>
		<%  unless m.filename == nil %>
		<%=image_tag("http://dqnxa4ugjb67h.cloudfront.net/" + m.filename) %>
		<% else %>
		<% image_tag(m.image)%>
		<% end%>
	<% end %>
	
<% end%>
<% if @result_urls != [] %>
	<% @result_urls.each do |r| %>
		<%= image_tag r %>
	<% end %>
<% else %>
result urls was empty
<% end %>

<style type="text/css" media="screen">
	.mugshow_actions .icon{
		font-weight: bold;
		font-size: 16px;
		display: inline-block;
		padding: 2px;
		width: 12px;
	}
</style>
<a href="javascript:WildfireBtn.onClick({module: 'post',partner: '94301',widgetTitle: 'Daily Mugshot'},'gigya_id',undefined,undefined)" class="post_mugshow">Post Mugshow</a>
