<% #kinda feel like this should be in a separate css...i think i tried that and it worked fine %>
<% content_for :head do %>
	<style type="text/css" media="screen">
		#iphone_app {
			float: left;
			margin-left: 0px;
			margin-top: 15px;
			width: 55%;
		}
		#iphone a{border:none;}
		#iphone .right {
			color:#222222;
			float:left;
			margin-top:75px;
		}
			#iphone .right .app_store{
				float:left;
				display:block;
			}

			#iphone .right .android_store{
				float:right;
			}
			
	</style>
<% end %>

<h2 align="center">Welcome to Daily Mugshot </h2> 
<br>
<% @mugshots.each do |m|%>
     <a class="alert_box_link" href= <%= "/authusers/" + m.authuser.id.to_s %>>
	<img class="alert_boxes" src="<%= m.try_image :inner %>" width="225" height="225">
	</a> 
<% end %>

<div id="iphone">
	<div id='iphone_app'><%= image_tag('iphone_app.jpg') %></div>
	<div class='right'>
		<%= image_tag('app_text.png', :class => 'iphone-text') %>
		<div class='clear'></div>
		
		<%= link_to "http://itunes.apple.com/us/app/dailymugshot/id393861180?mt=8", :popup => true, :class => 'app_store' do %>
			<%= image_tag("app_store.jpg") %>
		<% end %>
		
		<%= link_to "https://market.android.com/details?id=com.fuzz.dms&feature=search_result", :popup => true, :class => 'android_store' do %>
			<%= image_tag("android_store.png") %>
		<% end %>
	</div>
	<div class='clear'></div>
</div>

<h2 class='clear'>What's this all about?</h2>
<ul>
	<li>Use Daily Mugshot to chronicle images of yourself and share them as an animated sequence
	<li>Place widgets in your blog or website and to display your mugshots with automatic updates (you can always make your mugshots private)
	<% unless logged_in? %>
	<li><%= link_to "Getting started", :signup %> is a snap, all you need is a webcam, digital camera, or camera-phone! 
	<% end %>
	<li>Update anywhere using the Daily Mugshot apps for <a href="http://itunes.apple.com/us/app/dailymugshot/id393861180?mt=8"> iPhone </a> and <a href="https://market.android.com/details?id=com.fuzz.dms&feature=search_result"> Android </a>
</ul>
<script>


var update_image_and_link = function(data) {
	var randomnumber=Math.floor(Math.random()*6);
	//$($(".alert_boxes")[randomnumber]).animate({opacity: "0.0"});
	$(".alert_boxes")[randomnumber].src = data["image"];
	$(".alert_box_link")[randomnumber].href = "http://<%= request.host %>/authusers/" + data["userid"]
	//$($(".alert_boxes")[1]).animate({opacity: "1.0"});
	//$($(".alert_boxes")[randomnumber]).fadeIn();
	
};

var start_update = function() {
	$.get("/apis/get_multi_box_update.json", function(data) {
	var should_update=1;
	if($(".alert_boxes")[0].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[1].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[2].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[3].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[4].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[5].src == data["image"]){
	should_update=0;
	}
	if(should_update == 1){
	update_image_and_link(data);}
	});
};

//to do: fade in / fade out via .fadeout .fadein
//put in space for text
//setup periodic execution
$.periodic.defaults.period = 1000;
$.periodic(function() {
	start_update();
});
</script>
