<% #kinda feel like this should be in a separate css...i think i tried that and it worked fine %>
<% content_for :head do %>
	<style type="text/css" media="screen">
		#iphone_app {
			float: left;
			margin-left: 0px;
			margin-top: 15px;
			width: 55%;
		}
		#iphone a{border:none;}
		#iphone .right {
			color:#222222;
			float:left;
			margin-top:75px;
		}
			#iphone .right .app_store{
				float:left;
				display:block;
			}

			#iphone .right .android_store{
				float:right;
			}
			
	</style>
<% end %>

<script type="text/javascript">
// swfobject.registerObject("dms_flow", "9.0.115", "expressInstall.swf");
</script>

<%= stylesheet_link_tag "home" %>

<div id="widget_rotator_container" OnMouseOver="renderTooltip(180,'check out a random mugshow!');" OnMouseOut="hideTooltip();">
  <div id="widget_rotator">
<script type="text/javascript">
//var flashvars = {};
//var params = {userid:60581};
//var attributes = {};
//swfobject.embedSWF("http://localhost:3000/swf/flow.swf", "widget_rotator", "525", "220", "9.0.115", flashvars, params, attributes);
</script>
    <div id="myContent">
      <!-- <p>Alternative content</p> -->
    </div>

</script>
  </div>
</div>
Some recent updates <br><br>
<%# @mugshots.each do |m|%>
/*     <a class="alert_box_link" href="http://localhost:3000/authusers/<%#= m.authuser.id %>">
	<img class="alert_boxes" src="<%#= m.image :inner %>" height=170 width=170 >
	</a> */
<%# end %>

<div id="iphone">
	<div id='iphone_app'><%= image_tag('iphone_app.jpg') %></div>
	<div class='right'>
		<%= image_tag('app_text.png', :class => 'iphone-text') %>
		<div class='clear'></div>
		
		<%= link_to "http://itunes.apple.com/us/app/dailymugshot/id393861180?mt=8", :popup => true, :class => 'app_store' do %>
			<%= image_tag("app_store.jpg") %>
		<% end %>
		
		<%= link_to "https://market.android.com/details?id=com.fuzz.dms&feature=search_result", :popup => true, :class => 'android_store' do %>
			<%= image_tag("android_store.png") %>
		<% end %>
	</div>
	<div class='clear'></div>
</div>

<h2 class='clear'>What's this all about?</h2>
<ul>
	<li>Daily Mugshot is a free service which helps you chronicle daily images of yourself and share them as an animated sequence.
	<li>We have widgets which you can place on your profile or blog and they automatically update when you take new mugshots. (You can always make your mugshots private so only you can see them.)
	<li>Getting started is really easy, all you need is a webcam, digital camera, or camera-phone! <%#= link_to "Get Started!", signup_path %>
</ul>
<script>


var update_image_and_link = function(data) {
	var randomnumber=Math.floor(Math.random()*6);
	//$($(".alert_boxes")[randomnumber]).animate({opacity: "0.0"});
	$(".alert_boxes")[randomnumber].src = data["image"];
	$(".alert_box_link")[randomnumber].href = "http://localhost:3000/authusers/" + data["userid"]
	//$($(".alert_boxes")[1]).animate({opacity: "1.0"});
	//$($(".alert_boxes")[randomnumber]).fadeIn();
	
};

var start_update = function() {
	$.get("/apis/get_multi_box_update.json", function(data) {
	var should_update=1;
	if($(".alert_boxes")[0].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[1].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[2].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[3].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[4].src == data["image"]){
	should_update=0;
	}
	if($(".alert_boxes")[5].src == data["image"]){
	should_update=0;
	}
	if(should_update == 1){
	update_image_and_link(data);}
	});
};

//to do: fade in / fade out via .fadeout .fadein
//put in space for text
//setup periodic execution
$.periodic.defaults.period = 5000;
$.periodic(function() {
	start_update();
});
</script>
