<h1>Listing ip_address_hacks</h1>

<table>
  <tr>
    <th>Authuser</th>
    <th>Ip address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ip_address_hacks.each do |ip_address_hack| %>
  <tr>
    <td><%= ip_address_hack.authuser_id %></td>
    <td><%= ip_address_hack.ip_address %></td>
    <td><%= link_to 'Show', ip_address_hack %></td>
    <td><%= link_to 'Edit', edit_ip_address_hack_path(ip_address_hack) %></td>
    <td><%= link_to 'Destroy', ip_address_hack, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ip address hack', new_ip_address_hack_path %>
