<ul class="comment_list" >
  <div id="inner_comment_container">
    <% alternating = true %>  
	<% for comment in @comments %>
        <li id="comment_<%= comment.id %>" class="<%= @alternating %>">
              <% alternating = !alternating %>
              <div class="comment_content">
                  <h4 class="comment_title">
                    <%= comment.authuser_id == -1 ? 
                          "<span class='comment_auth'>anonymous</span>" : 
                          link_to( comment.authuser.login, 
                            {:action => "show", :id => comment.authuser_id }, :class => "comment_auth" ) %>
                    <span class="comment_date"><%= comment.created_at.strftime("%m/%d/%y") %></span>
                    <% if (logged_in? != nil && (comment.authuser_id == current_authuser.id || comment.owner_id == current_authuser.id)) %>
					<%= link_to 'Delete', 
					      { :controller => 'comments', :action => 'destroy', :id => comment.id }, 
					      { :confirm => 'Are you sure?', :method => :delete}   %>
					<% end %>
                  </h4>
				<% if (comment.authuser_id == -1 || !comment.authuser.has_mugshot?) %> 
                          <%= image_tag("dmslogo_med.png", :class => "comment_pic") %>
						<% else %>
						<% begin %>  
						<%= image_tag((Mugshot.find(comment.authuser.get_last_mugshot).try_image(:thumb)), size: "50x50") %>
						<% rescue %>
						<%= image_tag("dmslogo_med.png", :class => "comment_pic") %>
                        
						<% end %>
						<% end %>
						
                  <div class="comment_body"><%= comment.body %></div>
              </div>
            </li>
      <% end %>
  </div>
</ul>
<div class="clearboth"><!-- CLEAR --></div>    

