<%= form_for(@authuser) do |f| %>
  <% if @authuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authuser.errors.count, "error") %> prohibited this authuser from being saved:</h2>

      <ul>
      <% @authuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.text_field :time_zone %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :prvt %><br />
    <%= f.check_box :prvt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
