<%= stylesheet_link_tag "signup" %>
<h1>Account Setup</h1>
	<fieldset>
		<%= form_for @authuser, :html => {:id => "signup_form"} do |f| -%>
	    Several of these fields don't exist yet in the user model
		<%#= error_messages_for 'authuser' %>
		<div class="highlight_box" id="current_password">
		<div class="highlight_box_wrapper">
		<div class="highlight_box_content">
                        
			<label for="authuser_login">
				Login:
                                <%= f.text_field :login, :class => "text" %>
			</label>
			<br />
                      
                        <%= link_to "Why do we need email?", faq_url %>  
							<label for="authuser_email" class="email" OnMouseOver="renderTooltip(160,'We will NEVER share your email');" OnMouseOut="hideTooltip();">
								Email:
				                                <%= f.text_field :email, :value => @i_email, :size => "30", :class => "text" %>
							</label>
				                        <br />
				      <div class="authuser_gender">
								<label for="authuser_gender">Gender:</label>
								<span class="genders">
								<!-- <label for="authuser_gender_m">Guy</label> -->
								<%= f.label :gender, "Guy", :for => "authuser_gender_m" %>
								<%= f.radio_button :gender, "m" %>
								<!-- <label for="authuser_gender_f">Girl</label> -->
								<%= f.label :gender, "Girl", :for => "authuser_gender_f" %>
								<%= f.radio_button :gender, "f" %>
								</span>
				      </div>
							<br />
							<label for="authuser_birthday">
								Birthday:
				                                <%= f.date_select :birthday, :start_year => 100.years.ago.strftime("%Y").to_i %>
							</label>
							<br />
							<label for="authuser_password">
								Password: 
				                                <%= f.password_field :password, :class => "text", :size => "30" %>
							</label>	
							<br />

							<label for="authuser_password_confirmation">
								Confirm Pwd:
				        <%= f.password_field :password_confirmation, :class => "text", :size => "30" %>
						  </label>
						  <br />      
						  <label for="authuser_time_zone" OnMouseOver="renderTooltip(410,'Helps us know when you took your picture');" OnMouseOut="hideTooltip();">
								Time Zone:
								<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {:default => "Eastern Time (US & Canada)"} %>
						  </label>
						  <br />
						  <div class="i_agree">
						    <%#= f.check_box :tos %>
						    I agree to the <%= link_to 'Terms of Service','/tos.html' %>
						  </div>	 

						</div>
						</div>
						</div> 

				                <button class="button signup_button" name="commit" type="submit" value="Sign up">Update</button>
				                <% end %> 
							</fieldset>
	
		