<%#= javascript_include_tag "$('mySequence').addClassName('current');" %>
<%= stylesheet_link_tag "sequence" %>
<script>
swfobject.registerObject("adjust", "9.0.115", "expressInstall.swf");
</script>
<h1>My Mugshow</h1>
<div class="flash_container hint">
	Email Reminder: <%#= current_authuser.emailreminder.try(:active) ? "ON" : "OFF" %>
	(<%#= current_authuser.emailreminder.twelve_hour_time %>), 
	Timezone: <%= current_authuser.time_zone %>
</div>
<ul id="sequence_actions">
	<li>
	  <%= link_to "update account", :update_account %>
	</li>
	<li>
    <%= link_to "see your Mugshow!", current_authuser %>
	</li>
	<li>
    <%#= link_to "modify Landmarks", :controller => "authuser", :action => 'landmarks' %>
	</li>
</ul>
<div id="div_thumbs">
	<div id="sequence_image_actions" class="highlight_box">
		<div id="sequence_image_actions_wrapper" class="highlight_box_wrapper">
      <div class="highlight_box_content">
				<%= render 'show_mine_mugshots', :mugshots => @mugshots %>
				<span id="visStatus" class="updated"></span>
				<% if @authuser.mugshots.count > @page_size -%>
				<ul id="sequence_date_ranges">
				  <li>
				    <%= link_to "&lt; First", 
				          {:page => @page_count}, :class => "css3button" %>
				  </li>
				  <li>
				    <%= link_to "&lt; Prev", 
				          {:page => @current_page  + 1 }, :class => "css3button" %>
				  </li>
				  <li>
				    <%= link_to "Next &gt;", 
				      {:page => @current_page - 1}, :class => "css3button" %>
				  </li>
				  <li>
				    <%= link_to "Last &gt;", 
		          		{:page => 0}, :class => "css3button" %>
				  </li>
				</ul>
				<% end %>
	    </div>
    </div>
  </div>
</div>
<div id="sequence_details">
  <strong><%= @authuser.mugshots.count %></strong> 
	total pictures.  Began: <strong><%= current_authuser.created_at.strftime("%B %d, %Y")%></strong>  
</div>
<div id="adjust" class="flash_container">
<script type=text/javascript>
	var flashvars = {};
	var params = {pathurl: "http://<%=#{request.host}%>/swf/paths.xml", userid: <%= current_authuser.id.to_s %>, filename: "<%= @focused_mugshot.image %>", firstfile: "<%= current_authuser.mugshots.first.image %>", xcoord: <%= @focused_mugshot.xoffset %>, ycoord: <%= @focused_mugshot.yoffset %>};
	var attributes = {};
	swfobject.embedSWF("http://<%=#{request.host}%>/swf/adjust.swf", "adjust", "480", "530", "9.0.115", flashvars, params, attributes);

</script>
<p>
	<%#= link_to 'Download', download_mugshot_path(@pic.mugshot), :popup => true, :class => 'css3button' %>
</p>
</div>
