<%= stylesheet_link_tag "comments" %>
<%# is this necessary? %>

<script type="text/javascript">
swfobject.registerObject("player", "9.0.115", "expressInstall.swf");
</script>

<!-- <script src="http://cdn.gigya.com/wildfire/js/wfapiv2.js"></script>

<textarea id="gigya_id" style="display:none">
  <div style="width:200px !important;position:relative !important;width:200px !important;height:220px !important;overflow:hidden !important;">
    <object type="application/x-shockwave-flash" data="/swf/newdms3.swf?pathurl=/swf/paths.xml&userid=<%= @authuser.id %>" width="200" height="200">
      <param name="movie" value="/swf/newdms3.swf?pathurl=/swf/paths.xml&userid=<%= @authuser.id  %>" />
      <param name="scale" value="noScale" /><param name="salign" value="TL" />
    </object>
    <a style="display:block !important;background:url(/images/snag.png) 0 0 no-repeat !important;width:200px !important;height:20px !important;padding:0 !important;position:relative !important;top:-3px !important;text-indent:-1000em !important;overflow:hidden !important;cursor:pointer !important;cursor:hand !important;border:none !important;text-decoration:none !important;" href="/" title="Daily Mugshot">
      Daily Mugshot
    </a>
  </div>
</textarea> -->

<h1><%= @authuser.login %>'s Mugshow</h1>
	<span id="tabs"><%= render :partial => "show_tabs" %></span>
<div id="mosaic">
<%= render :partial => "mosaic_view" if @current_tab == "mosaic" %>
</div>
<% if @current_tab == "mugshow" %>

<div id="mugshow_view">
					<div class="mugshow_box">
						<div class="mugshow_box_content">
							<div id="player">
							
                				<script type="text/javascript">
								$(document).ready(function() {
								var flashvars = {};
								var params = {};
								var attributes = {};
								swfobject.embedSWF("/swf/newdms3.swf?userid=<%=@authuser.id%>&pathurl=/swf/paths.xml", "player", "200", "200", "9.0.115", flashvars, params, attributes);
							});
								</script>
				
							</div>
							
							<div class="mugshow_meta">
								<%= render :partial => "show_stats" if @authuser.mugshots != [] %>
								<%= render :partial => "show_actions" if current_authuser != nil  %>
							</div>	
							<div class="clearboth"><!--EMPTY--></div>
						</div>
					</div>
					<% end %>
					<div class="clearboth"><!--EMPTY--></div>
					<div id="showFriend">
				    </div>
				<div id="friends_partial">
					<% if @followed_friends != [] %>
					    <div id="favorites">
						  <h3 class="title">Favorites</h3>
							<div align=center><%= image_tag("large_loading_spinner.gif", :size => "75x75") %></div>
						</div>
					<% end %>
				    <% if @following_friends != [] %>
					    <div id="favorites">
						  <h3 class="title">Followers</h3>
							<div align=center><%= image_tag("large_loading_spinner.gif", :size => "75x75") %></div>
						
						<% end %>

					    </div>
					
					</div>
						<div id="testdiv"></div>
				  <h3 class="title">Comments</h3>
					<% if logged_in? && current_authuser.has_mugshot? %>
					<%= render :partial => 'comment_form' if logged_in? %>
					<% end %>
					<div id="comments"> 
						<div align=center><%= image_tag("large_loading_spinner.gif", :size => "75x75") %></div>
					</div>
<script>
$(document).ready(function(){
	$.get('/ajax_get_friends.json?id=<%=@authuser.id.to_s%>', function(data) {
	  console.log(data);
	  //alert('Load was performed.');



	if(data["success"] == true) {
	  //alert(data["friends_html"]);
	  $("#friends_partial").html(data["friends_html"]);
	}


	});
	$.get('/ajax_get_comments.json?id=<%=@authuser.id.to_s%>', function(data) {
	  console.log(data);
	  if(data["success"] == true) {

		  $("#comments").html(data["comments_html"]);
		}

	});




});


</script