<%= stylesheet_link_tag "signup" %>

<h1>User Signup</h1>

        <fieldset>
        <div padding-right=15px>
            <%= form_for @authuser do |f| -%>
              <div class="highlight_box" id="current_password">
                <div class="highlight_box_wrapper">
                  <div class="highlight_box_content">
                    <h3>
                      Login:
                    </h3>
                        <label for="login">
                          <%= f.text_field :login %>
                        </label>  
                    </div>
                  </div>
                </div>
               <div class="highlight_box" id="current_password">
                <div class="highlight_box_wrapper">
                  <div class="highlight_box_content">
                    <div padding: 10px>
                    <h3>
                      Password:
                    </h3>

                    <label for="password" padding=10px>
                      <%= f.password_field :password  %>
                    </label>
                    </div> 
                  </div>
                </div>
              </div> 
                        
                <div class="highlight_box">
                    <div class="highlight_box_wrapper">
                        <div class="highlight_box_content" >
                          <h3>Email</h3 >
                            <%= f.text_field :email %>
                        </div>
                    </div>
                </div>
                  <div class="highlight_box">
                    <div class="highlight_box_wrapper">
                        <div class="highlight_box_content" >
                          <h3>Gender</h3>
                          <span class="genders">
                              <%= f.radio_button(:gender, "m") %>
                              <%= f.label(:gender_m, "Male") %>
                              <%= f.radio_button(:gender, "f") %>
                              <%= f.label(:gender_f, "Female") %>  
                            </span>
                        </div>
                    </div>
                </div>

                <div class="highlight_box">
                    <div class="highlight_box_wrapper">
                        <div class="highlight_box_content">
                         <h3>Time Zone</h3>
                         <label for="time_zone">
                          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => 'Eastern Time (US & Canada)' %>
                         </label> 
                        </div>
                    </div>
                </div>
                  <div class="highlight_box">
                    <div class="highlight_box_wrapper">
                        <div class="highlight_box_content">
                         <label for="time_zone">
                          <%= check_box_tag :tos %>
                                I agree to the <%= link_to 'Terms of Service','/tos.html' %>
                         </label> 
                        </div>
                    </div>
                </div>

      <%#= error_messages_for @authuser %> 
      <div align="center"><%= f.submit "Signup!"%></div>
      <%#= link_to "Destroy My Account", destroy_my_account_path, :class => "floatright" %>
    <% end %>
    </div>
  </fieldset>
