<!DOCTYPE html>
<html>
<head>
  <title>DailyMugshot</title>
  <%= stylesheet_link_tag "quickstyles"%>
  <%= stylesheet_link_tag "base"%>
  <%= stylesheet_link_tag "public"%>
  <%= javascript_include_tag "application", "swfobject" %>
  <%= javascript_include_tag "navigation" %>

	<%= favicon_link_tag asset_path "favicon.ico" %>
	
  <%= csrf_meta_tags %>
	<%= yield :head %>

</head>
<body>
    
<!-- BEGINNING SITE -->
    <div id="site">
		
        <!-- BEGINNING TOOLTIP HELPER -->
        <div id="tooltip">
	        <div id="tooltip_helper">
	        </div>
        </div>

        <!-- END TOOLTIP HELPER -->

        <!-- BEGINNING NAVIGATION COLUMN -->
        <div id="nav_column">
			          <div id="logo_box">
				<%= link_to image_tag("dates/" + Date.today.strftime("%m_%d") + ".png"), :root, :id => "logo"  %>
				            <h1 id="title">Daily Mugshot</h1>
			         	</div>
			          <!-- BEGINNING SIDE BOX -->
			          <div id="status_box" class="side_box">
			                <div class="side_box_header">
			                     <!--BLANK-->
			                </div>
			                <div id="alert_container" class="side_box_content">
			                    <div id="alert_box">
				                    <a href="#" class="new_mugshot">
															<img id="dmslogo" border="false" src= <%= asset_path "dmslogo_med.png" %> class="thumbnail" />
															<strong>Update Area:</strong>
															<span class="description">Check here for updates!</span>
				                    </a>
			                    </div>
			                </div>
			            </div>    
									<div id="search_box" class="side_box">
			                <div class="side_box_header"><!-- --></div>
			                <div class="side_box_content">
								<%= form_tag(:controller => "authusers", :action => "search", :method => "get") do %>
										        <input id="search_input" name="search_input" type="text" /></label>
												<fieldset>
												  <%= label_tag(:search_criteria, "Search for:") %>
												  <%= text_field_tag :search_criteria, "search", :onfocus => "if($('#search_criteria').attr('value')=='search') {$('#search_criteria').attr('value','')}", :onblur => "if($('#search_criteria').attr('value')=='') {$('#search_criteria').attr('value','search')}"%>
												  <%= submit_tag("Search") %>
												<% end %>												
												</fieldset>
											
			                </div>
			            </div>
			            <!-- END SIDE BOX -->  
									<!-- BEGINNING NAVIGATION -->
									<div id="nav">
										<div id="account_login" class="side_box">
											<div class="side_box_header">
												<!--BLANK-->
											</div>
											<div class="side_box_content">
							          <%= render :partial =>"main/loginarea" %>
							        </div>
										</div>		

										<div id="nav_locations" class="side_box">
											<div class="side_box_header">
												<!--BLANK-->
											</div>
											<div class="side_box_content">	
									          <%= render :partial =>"main/sidenav" %>
									        </div>
										</div>	

									</div>
									<!-- END NAVIGATION -->              


			        </div>
			         <!-- END NAVIGATION COLUMN -->

			        <!-- BEGINNING MAIN CONTENT AREA -->
			        <div id="flash_area">
						<% if flash[:notice] %>
						<div id= "alert", class="alert">
							<div class="content">
								<p><%= flash[:notice] %></p>
							</div>
						</div>
						
						<% end %>
						<%= link_to "http://itunes.apple.com/us/app/dailymugshot/id393861180?mt=8", :popup => true, :class => 'top_app_store' do %>
							<%= image_tag("app_store_small.png") %>
						<% end %>
						<%= link_to "https://market.android.com/details?id=com.fuzz.dms&feature=search_result", :popup => true, :class => 'top_android_market' do %>
							<%= image_tag("android_market_small.png", ) %>
						<% end %>
					</div>
			        <div id="content" class="content_box">
			           <div class="content_box_header">
			                <!--BLANK-->
			           </div>
			              <div class="content_box_content">
			                <%= yield %>
			              </div> 
			        </div>
			        <!-- END MAIN CONTENT AREA -->

			        <!-- START FOOTER -->
			        <div id="footer">
			            <div id="footer_text">
			              <%= link_to "Terms of Service", "/tos.html" %> Copyright &copy; 2007-2010 Dailymugshot.com.  All rights reserved. 
			            </div>
			        </div>
			        <!-- END FOOTER -->
			    </div>
			    <!-- END SITE -->
				<script type="text/javascript" charset="utf-8">
					var rails_env = '<%= Rails.env %>'
				</script>
					<% if Rails.env == 'production' %>
			    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
			    </script>
			    <script type="text/javascript">
			      _uacct = "UA-2760766-1";
			      urchinTracker();
			    </script>
					<% end %>

					<%= yield :foot %>


				</body>
			</html>
